    <aside class="page-sidebar">
      <nav class="widget">
      <h3>Site</h3>
        <ul>
          <li><a href="{{ SITEURL }}/">Home</a></li>
          <li><a href="{{ SITEURL }}/pages/contact.html">Contact</a></li>

        </ul>
      </nav>


     {% if MENUITEMS %}
      <nav class="widget">
        <h3>Work</h3>
        <ul>
        {% for name, uri in MENUITEMS %}
          <li><a href="{{ uri|format(slug=SITEURL)|e}}">{{ name }}</a></li>
          {% endfor %}
        </ul>
      </nav>1
      {% endif %}


      <nav class="widget">
        {% for category, articles in categories %}
        <h3>{{category}}</h3>
        <ul>
        {% for article in articles %}
            <li><a href="/{{ article.url }}">{{ article.title }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
      </nav>

      {% if DISPLAY_PAGES_ON_MENU %}
      <nav class="widget">
        <h3>Pages</h3>
        <ul>
        {% for page in pages %}
            {% if not page.title  == "Contact"  and not page.title == "landing" and not page.title == "index" %}
            <li><a href="/{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
     {% endif %}


      {% if SOCIAL %}
      <nav class="widget">
        <h3>Social</h3>
        <ul>
        {% for url, name in SOCIAL %}
          <li><a href="{{ url|e }}">{{ name }}</a></li>
        {% endfor %}
          <li><a href="{{ SITEURL }}/{{ FEED_ATOM }}" rel="alternate">Flux Atom</a></li>
        {% if FEED_RSS %}
          <li><a href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate">Flux RSS</a></li>
        {% endif %}
        </ul>
      </nav>
      {% endif %}
    </aside>
